{% extends "portfolio/common/base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block head %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-md-9">
            <h2><b>Contact</b></h2>
            <hr>
            {% if messages %}
            <div class="alert alert-success messages" id="success-alert">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form role="form" action="{% url 'portfolio:contact' %}" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper row">
                    {{ form.contact_name.errors }}
                    <div class="col-sm-3">
                        <label for="{{ form.contact_name.id_for_label }}">Your Name:</label>
                    </div>
                    <div class="col-sm-9">
                        {{ form.contact_name }}
                    </div>
                </div>
                <div class="fieldWrapper row">
                    {{ form.contact_email.errors }}
                    <div class="col-sm-3">
                        <label for="{{ form.contact_email.id_for_label }}">Your Email Address:</label>
                    </div>
                    <div class="col-sm-9">
                        {{ form.contact_email }}
                    </div>
                </div>
                <div class="fieldWrapper row">
                    {{ form.message.errors }}
                    <div class="col-sm-3">
                        <label for="{{ form.message.id_for_label }}">Message:</label>
                    </div>
                    <div class="col-sm-9">
                        {{ form.message }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="g-recaptcha" style="float: right" data-sitekey="6LfX-K4UAAAAAOrS6eSNYYNxVNQdXE8zldjlGf3z"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default float-right btn-outline-dark">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
{% block scripts %}<script src="{% static 'js/success.js' %}"></script>{% endblock %}