{% extends "portfolio/common/Reingold-Tilford.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-7 justified">
        <h2><b>Greetings!</b></h2>
        <p>
            Welcome to my personal site! I am currently a Ph.D. student at the Computer Vision Research Lab (CVRL) in
            the Computer Science & Engineering doctorate program at the University of Notre Dame.
        </p>
        <p>
            While my research has spanned from digital accelerator design to reservoir and neuromorphic computing to
            deep learning applications in epidemiology, my current focus is in explainable artificial intelligence (XAI).
            I am actively working on opening up the deep learning black box, exploring intrinsically comprehensible
            algorithms, and shedding light on poor practices in interpretability research. I am passionate about
            responsibly deploying AI for the betterment of society, deepening our understanding of core machine learning
            algorithms, and contributing to the <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">FLOSS</a> ecosystem.
        </p>
        <p>
            Check out my <a href="{% url 'portfolio:projects' %}">projects</a> here and on <a href="https://github.com/craymichael/">GitHub</a>.
            If you like the site and want to explore or use it yourself, view the
            <a href="https://github.com/craymichael/PortfolioSite" target="_blank">source on GitHub</a>.
        </p>
        <hr>
        <h5><a href="{% url 'portfolio:portfolio' %}">View My Portfolio</a></h5>
        <p>If you would like to <a href="{% url 'portfolio:contact' %}">contact me</a>, feel free to do so.</p>
    </div>
    <div class="col-md-5">
        {{ block.super }}
    </div>
</div>
{% endblock %}

{% block genTree_script %}
<script type="text/javascript">
    var siteTree = {
        name: "root",
        children: [
            {
                name: "Home",
                href: "{% url 'portfolio:index' %}"
            },
            {
                name: "Portfolio",
                href: "{% url 'portfolio:portfolio' %}"
            },
            {
                name: "Projects",
                href: "{% url 'portfolio:projects' %}"
            },
            {
                name: "Contact",
                href: "{% url 'portfolio:contact' %}"
            }
        ]
    };
    genTree(siteTree,
        (window.outerWidth < 375 ? window.outerWidth : 375),
        (window.outerHeight < 400 ? window.outerHeight : 400));
</script>{% endblock %}
