{% extends "portfolio/common/base.html" %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block head %}
<link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_tags %}
<body data-spy="scroll" data-target=".sidebar-fixed">
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-9">
        <section id="education" class="education-section">
            <div class="row">
                <div class="col-lg-9">
                    <h1><b>Education</b></h1>
                    <hr>
                    <h3>Rochester Institute of Technology (RIT) — Rochester, NY</h3>
                    <h4>Expected Degrees (May, 2019)</h4>
                    <ul>
                        <li>
                            <a href="https://www.rit.edu/kgcoe/computerengineering/program/dual-degree-bsms/curriculum-bsms-dual-degree"
                               target="_blank">Bachelor of Science in Computer Engineering</a></li>
                        <li>
                            <a href="https://www.rit.edu/kgcoe/computerengineering/program/dual-degree-bsms/curriculum-bsms-dual-degree"
                               target="_blank">Master of Science in Computer Engineering</a></li>
                        <li><a href="https://www.rit.edu/programs/minors/mathematics" target="_blank">
                            Minor in Mathematics</a></li>
                        <li><a href="https://www.rit.edu/programs/immersions/digital-literatures-and-comparative-media"
                               target="_blank">Immersion in Digital Literature and Comparative Media</a></li>
                    </ul>
                    <p><i>GPA: 3.7/4.0<br>
                        Dean's List: 2014, 2015, 2016, 2017, 2018</i></p>
                    <h4>Courses</h4>
                    <ul class="row">
                        <li class="col-md-6 vsplit-list">Brain-Inspired Computing</li>
                        <li class="col-md-6 vsplit-list">Computer Vision</li>
                        <li class="col-md-6 vsplit-list">Deep Learning</li>
                        <li class="col-md-6 vsplit-list">Advanced C++ Programming</li>
                        <li class="col-md-6 vsplit-list">Computer Architecture</li>
                        <li class="col-md-6 vsplit-list">Interface and Digital Electronics with Lab</li>
                        <li class="col-md-6 vsplit-list">Applied Programming</li>
                        <li class="col-md-6 vsplit-list">Electronics I with Lab</li>
                        <li class="col-md-6 vsplit-list">Linear Optimization</li>
                        <li class="col-md-6 vsplit-list">Digital Systems I and II with Labs</li>
                        <li class="col-md-6 vsplit-list">Circuits I and II with Lab</li>
                        <li class="col-md-6 vsplit-list">Computer Science I and II</li>
                        <li class="col-md-6 vsplit-list">Assembly Language with Lab</li>
                        <!--<li class="col-md-6 vsplit-list">Intro to Software Engineering with Project</li>-->
                    </ul>
                </div>
            </div>
        </section>

        <section id="skills" class="skills-section">
            <div class="row">
                <div class="col-lg-9">
                    <h1><b>Skills</b></h1>
                    <hr>
                    <h3>Languages</h3>
                    <ul class="row">
                        <li class="col-md-4 vsplit-list">Python</li>
                        <li class="col-md-4 vsplit-list">MATLAB/Octave</li>
                        <li class="col-md-4 vsplit-list">LaTeX</li>
                        <li class="col-md-4 vsplit-list">C++</li>
                        <li class="col-md-4 vsplit-list">C</li>
                        <li class="col-md-4 vsplit-list">Java</li>
                        <li class="col-md-4 vsplit-list">Rust</li>
                        <li class="col-md-4 vsplit-list">Shell/Bash</li>
                        <li class="col-md-4 vsplit-list">VHDL</li>
                        <li class="col-md-4 vsplit-list">System Verilog/Verilog</li>
                        <li class="col-md-4 vsplit-list">TCL</li>
                        <li class="col-md-4 vsplit-list">ARM Assembly</li>
                        <li class="col-md-4 vsplit-list">HTML/CSS</li>
                        <li class="col-md-4 vsplit-list">JavaScript</li>
                    </ul>
                    <h3>Hardware</h3>
                    <ul class="row">
                        <li class="col-md-4 vsplit-list">NXP/Freescale {KL46Z, KL64F}</li>
                        <li class="col-md-4 vsplit-list">Spartan6 FPGA</li>
                        <li class="col-md-4 vsplit-list">Oscilloscope</li>
                        <li class="col-md-4 vsplit-list">Multimeter</li>
                        <li class="col-md-4 vsplit-list">Function Generator</li>
                    </ul>
                    <h3>Software and Libraries</h3>
                    <ul class="row">
                        <li class="col-md-4 vsplit-list">TensorFlow</li>
                        <li class="col-md-4 vsplit-list">Scikit-Learn</li>
                        <li class="col-md-4 vsplit-list">Django</li>
                        <li class="col-md-4 vsplit-list">Flask</li>
                        <li class="col-md-4 vsplit-list">NumPy</li>
                        <li class="col-md-4 vsplit-list">SciPy</li>
                        <li class="col-md-4 vsplit-list">Keil μVision</li>
                        <li class="col-md-4 vsplit-list">Xilinx</li>
                        <li class="col-md-4 vsplit-list">Quartus</li>
                        <li class="col-md-4 vsplit-list">ModelSim</li>
                        <li class="col-md-4 vsplit-list">ISim</li>
                        <li class="col-md-4 vsplit-list">OrCAD Capture</li>
                        <li class="col-md-4 vsplit-list">PSPICE</li>
                        <li class="col-md-4 vsplit-list">Microsoft Office</li>
                        <li class="col-md-4 vsplit-list">Footprints</li>
                        <li class="col-md-4 vsplit-list">Eclipse</li>
                        <li class="col-md-4 vsplit-list">IntelliJ/PyCharm</li>
                        <!--<li class="col-md-4 vsplit-list">Kafka</li>-->
                        <li class="col-md-4 vsplit-list">Git</li>
                        <li class="col-md-4 vsplit-list">TortoiseSVN</li>
                    </ul>
                    <!--<h3>Operating Systems</h3>-->
                    <!--<ul class="row">-->
                    <!--<li class="col-md-4 vsplit-list">Ubuntu/Lubuntu</li>-->
                    <!--<li class="col-md-4 vsplit-list">CentOS</li>-->
                    <!--<li class="col-md-4 vsplit-list">Amazon Linux AMI</li>-->
                    <!--<li class="col-md-4 vsplit-list">Arch Linux</li>-->
                    <!--<li class="col-md-4 vsplit-list">Windows XP/Vista/7/8/10</li>-->
                    <!--</ul>-->
                </div>
            </div>
        </section>

        <section id="work" class="work-section">
            <div class="row">
                <div class="col-lg-9">
                    <h1><b>Work Experience</b></h1>
                    <hr>
                    <h3>Nu.AI Laboratory Researcher — <a
                            href="https://www.rit.edu/research/labs-centers" target="_blank">RIT</a>, Rochester, NY</h3>
                    <h4></h4>
                    <h4><i>January 2018 - Present</i></h4>
                    <p>In the Nu.AI lab, I research brain-inspired algorithms, mechanisms, and models for the
                        purpose of bettering our understanding of the brain as well as applying such concepts
                        to relevant problems. Recently, I have exploited the efficient training of echo state
                        networks (ESNs) and analyzing performance when network topology is modified. Additionally,
                        I am researching methods of improving upon hierarchical temporal memory (HTM). I will be
                        completing my masters thesis as a member of this lab.</p>

                    <h3>Digital Engineering Intern — <a
                            href="https://www.plexus.com" target="_blank">Plexus Corp.</a>, Raleigh, NC</h3>
                    <h4></h4>
                    <h4><i>June 2017 - August 2017</i></h4>
                    <p>As a digital engineering intern, I worked on several projects: some for Plexus
                        customers, and others for internal usage. I designed RTL code for the generic
                        instantiation of power-hungry components for Xilinx FPGAs. The module uses a given
                        proportion of a chip to generate as much heat as possible when enabled to test the
                        efficacy of its cooling systems. I worked with the digital engineering team at Plexus
                        in parametrizing the design and ensuring weekly project goals were met. I also worked on
                        an internal battery testing unit using the development board FRDM-K64F. I collaborated with
                        mechanical, electrical, and software engineers to verify and validate the design.</p>
                    <h4>Languages</h4>
                    <ul>
                        <li>C/C++</li>
                        <li>System Verilog</li>
                        <li>Powershell</li>
                    </ul>
                    <h4>Hardware</h4>
                    <ul>
                        <li>NXP NXP/Freedom K64F</li>
                        <li>Xilinx Spartan FPGA</li>
                    </ul>

                    <h3>Software Engineering/Research Intern — <a
                            href="http://www.cubrc.org/" target="_blank">CUBRC, Inc.</a>, Cheektowaga, NY</h3>
                    <h4></h4>
                    <h4><i>June 2016 - December 2016</i></h4>
                    <p>At CUBRC, I joined the recently spawned health care team who were striving to push for
                        a breakthrough in data analysis in the health care industry. The project, called
                        <a href="https://www.cubrc.org/index.php/data-science-and-information-fusion/heartwood-analytics"
                           target="_blank">Heartwood Analytics</a>, has a vision to provide a broad genre of agencies
                        with the
                        tools to reduce the perplexity of the possession and potential utilization of huge
                        amounts of data; through automated predictive analysis and accessible centralization
                        of multi-source data, Heartwood Analytics provides its customers with the ability to
                        build on their core competencies, identify market opportunities, and manage outcomes
                        for their highest risk patients.</p>
                    <p>I contributed to the analytical backend of the proposed product by developing
                        an automated machine learning framework that produces a fine-tuned model for any
                        given health record data. Data is abstracted through a common ontology to allow for
                        the use of various data sources, and then a model search is executed given a budget
                        to produce a predictive model. Analysis is also run to interpret important factors,
                        such as the higher weighted features of a regression. Additionally, I documented
                        relevant research and the software itself, and provided receptive, effective support
                        for our customers.</p>
                    <h4>Languages</h4>
                    <ul>
                        <li>Python {2, 3}</li>
                        <li>Shell/Bash</li>
                        <li>SPARQL and RDF</li>
                    </ul>
                    <!--<h4>Operating Systems</h4>-->
                    <!--<ul>-->
                    <!--<li>CentOS</li>-->
                    <!--<li>Amazon Linux AMI (AWS)</li>-->
                    <!--<li>Ubuntu and Lubuntu</li>-->
                    <!--</ul>-->
                    <h4>Software and Libraries</h4>
                    <ul>
                        <li>TensorFlow</li>
                        <li>Scikit-Learn</li>
                        <li>Flask</li>
                        <li>NumPy</li>
                        <li>Kafka</li>
                        <li>Atlassian Suite {JIRA, Confluence, HipChat, BitBucket}</li>
                    </ul>
                    <!--<h4>Concepts and Major Algorithms</h4>-->
                    <!--<ul>-->
                    <!--<li>Algorithms-->
                    <!--<ul>-->
                    <!--<li>Feed-Forward Neural Network</li>-->
                    <!--<li>Recurrent Neural Network</li>-->
                    <!--<li>Deep Neural Network</li>-->
                    <!--<li>Multivariate Logistic Regression</li>-->
                    <!--<li><a href="http://ect.bell-labs.com/who/tkh/publications/papers/odt.pdf"-->
                    <!--target="_blank">Random Forest</a> (and Other Tree-Based Algorithms)</li>-->
                    <!--<li>Bayesian Optimization (Specifically-->
                    <!--<a href="https://papers.nips.cc/paper/4522-practical-bayesian-optimization-of-machine-learning-algorithms.pdf"-->
                    <!--target="_blank">GP EI MCMC)</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--<li>Concepts-->
                    <!--<ul>-->
                    <!--<li>Backpropagation</li>-->
                    <!--<li>Hyperparameter Tuning</li>-->
                    <!--<li>Feature Engineering and Selection</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--</ul>-->

                    <h3>Senior SD Representative and RA Publisher —
                        <a href="https://www.rit.edu/its/" target="_blank">ITS Service Desk (RIT)</a>,
                        Rochester, NY</h3>
                    <h4><i>Fall 2014 - Spring 2016</i></h4>
                    <p>At the Information Services and Technology (ITS) Service Desk (SD), I was a senior
                        representative and a Right Answers (RA) publisher and editor. As a SD senior, in addition to
                        routine duties, I was responsible for the training of new employees, presentation of
                        processes and support tips to student employees, and assessment of sensitive scenarios when
                        full-time employees were unavailable. As a RA publisher, I was responsible for writing,
                        editing, and publishing articles for the RIT community: faculty, staff, and students across
                        multiple campuses.</p>
                    <!--<p>This position strengthened my critical analysis and communicative skills through hours of-->
                    <!--remote and local troubleshooting, intelligible public-facing publication of knowledge base-->
                    <!--articles, and collaborative efforts with employees of various ITS departments.</p>-->
                    <h4>Software</h4>
                    <ul>
                        <li>Footprints</li>
                        <li>Microsoft Office</li>
                        <li>RightAnswers</li>
                        <li>Atlassian Confluence</li>
                    </ul>

                    <h3>Founding Partner — CPUtiful Tech, Killingworth, CT</h3>
                    <h4><i>Summer 2015 - Spring 2016</i></h4>
                    <p>CPUtiful Tech was a company comprising four partners with the mutual interest of
                        creating a consumer electronics retail company with a business platform based on personable
                        interactions. The company was set to initiate retail via eBay in late summer 2016, but was
                        aborted in early 2016 due to mutual complications.</p>

                    <h3>Other Misc. Work</h3>
                    <ul>
                        <li>Applied Programming Grader</li>
                        <li>Assembly Language Grader</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="activities" class="activities-section">
            <div class="row">
                <div class="col-lg-9">
                    <h1><b>Activities</b></h1>
                    <hr>
                    <h4>RIT Tennis Club Treasurer</h4>
                    <h5><i>2014 - 2017</i></h5>

                    <h4>RIT Intramural Co-Ed Volleyball Captain</h4>
                    <h5><i>2014 - 2017</i></h5>

                    <h4>RIT Intramural Co-Ed Flag Football Captain</h4>
                    <h5><i>2015 - 2016</i></h5>

                    <h4>RIT KanJam Executive Board Member</h4>
                    <h5><i>2014 - 2016</i></h5>
                </div>
            </div>
        </section>
    </div>
    <!-- Sidebar -->
    <div class="col-md-3">
        <nav class="sidebar-fixed">
            <ul id="sidebar" class="nav nav-stacked affix">
                <li>
                    <a class="page-scroll" href="#education">Education</a>
                </li>
                <li>
                    <a class="page-scroll" href="#skills">Skills</a>
                </li>
                <li>
                    <a class="page-scroll" href="#work">Work Experience</a>
                </li>
                <li>
                    <a class="page-scroll" href="#activities">Activities</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Scrolling Nav JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/scrolling-nav.js' %}"></script>
{% endblock %}
