{% extends "portfolio/common/base.html" %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block head %}
<link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_tags %}
<body data-spy="scroll" data-target=".sidebar-fixed">
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-9" id="portfolio-accordion">
        <section id="education" class="education-section">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card-header" id="education-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#education-collapse" aria-expanded="false" aria-controls="education-collapse">
                                <h2><b>Education</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Education</b></h2>
                        <hr>
                    </div>
                    <div id="education-collapse" class="collapse" aria-labelledby="education-header" data-parent="#portfolio-accordion">
                        <h4>University of Notre Dame — Notre Dame, IN</h4>
                        <h6>PhD Program in Computer Science & Engineering - Degree Expected (May 2024)</h6>
                        <ul>
                            <li>
                                <a href="https://cse.nd.edu/graduate/"
                                   target="_blank">Doctor of Philosophy in Computer Science and Engineering</a></li>
                        </ul>
                        <div class="row">
                            <p class="col-md-3">GPA:</p>
                            <p class="col-md-2">4.00 / 4.00</p>
                        </div>
                        <h4>Rochester Institute of Technology (RIT) — Rochester, NY</h4>
                        <h6>BS / MS Program in Computer Engineering - All Degrees Awarded (May 2019)</h6>
                        <i>magna cum laude</i>
                        <ul>
                            <li>
                                <a href="https://www.rit.edu/kgcoe/computerengineering/program/dual-degree-bsms/curriculum-bsms-dual-degree"
                                   target="_blank">Bachelor of Science in Computer Engineering</a></li>
                            <li>
                                <a href="https://www.rit.edu/kgcoe/computerengineering/program/dual-degree-bsms/curriculum-bsms-dual-degree"
                                   target="_blank">Master of Science in Computer Engineering</a></li>
                            <li><a href="https://www.rit.edu/programs/minors/mathematics" target="_blank">
                                Minor in Mathematics</a></li>
                            <li><a href="https://www.rit.edu/programs/immersions/digital-literatures-and-comparative-media"
                                   target="_blank">Immersion in Digital Literature and Comparative Media</a></li>
                        </ul>
                        <div class="row">
                            <p class="col-md-3">Grad GPA:</p>
                            <p class="col-md-2">4.00 / 4.00</p>
                        </div>
                        <div class="row">
                            <p class="col-md-3">Undergrad GPA:</p>
                            <p class="col-md-2">3.63 / 4.00</p>
                        </div>
                        <div class="row">
                            <p class="col-md-3">Cumulative GPA:</p>
                            <p class="col-md-2">3.70 / 4.00</p>
                        </div>
                        <h5>Courses</h5>
                        <ul class="row">
                            <li class="col-md-6 vsplit-list">Brain-Inspired Computing</li>
                            <li class="col-md-6 vsplit-list">Computer Vision</li>
                            <li class="col-md-6 vsplit-list">Deep Learning</li>
                            <li class="col-md-6 vsplit-list">Advanced C++ Programming</li>
                            <li class="col-md-6 vsplit-list">Graph Theory</li>
                            <li class="col-md-6 vsplit-list">Computer Architecture</li>
                            <li class="col-md-6 vsplit-list">Applied Programming</li>
                            <li class="col-md-6 vsplit-list">Linear Optimization</li>
                            <li class="col-md-6 vsplit-list">Digital Systems I and II</li>
                            <li class="col-md-6 vsplit-list">Computer Science I and II</li>
                            <li class="col-md-6 vsplit-list">Electronics I</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="publications" class="publications-section">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card-header" id="publications-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#publications-collapse" aria-expanded="false" aria-controls="publications-collapse">
                                <h2><b>Publications</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Publications</b></h2>
                        <hr>
                    </div>
                    <div id="publications-collapse" class="collapse" aria-labelledby="publications-header" data-parent="#portfolio-accordion">
                        <p style="text-align:right"><b>Also see my <a href="https://scholar.google.com/citations?user=1Nq_tGYAAAAJ" target="_blank">Google Scholar profile <span class="fa fa-education" aria-hidden="true"></span></a></b></p>
                        <p style="text-align:justify"><sup>†‡</sup><b>Z. Carmichael</b>, W. J. Scheirer, "<b>Unfooling Perturbation-Based Post Hoc Explainers</b>," <i>Proceedings of the AAAI Conference on Artificial Intelligence</i>, Washington D.C., 2023.
                            <br><a href="https://arxiv.org/abs/2205.14772" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> AAAI</a>
                        </p>
                        <p style="text-align:justify"><sup>†‡</sup><b>Z. Carmichael</b>, W. J. Scheirer, "<b>A Framework for Evaluating Post Hoc Feature-Additive Explainers</b>," <i>Under Review</i>, 2022.
                            <br><a href="https://arxiv.org/abs/2106.08376" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> arXiv</a>
                        </p>
                        <p style="text-align:justify"><sup>†‡</sup><b>Z. Carmichael</b>, T. Moon, S. A. Jacobs, "<b>Learning Interpretable Models Through Multi-Objective Neural Architecture Search</b>," <i>Under Review</i>, 2022.
                            <br><a href="https://arxiv.org/abs/2112.08645" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> arXiv</a>
                        </p>
                        <p style="text-align:justify"><sup>†‡</sup>W. Theisen, D. Gonzalez, <b>Z. Carmichael</b>, T. Weninger, W. J. Scheirer, "<b>Motif Mining: Finding and Summarizing Remixed Image Content</b>," <i>Proceedings of the IEEE/CVF Winter Conference on Applications of Computer Vision (WACV)</i>, Waikoloa, Hawaii, 2023.
                            <br><a href="https://arxiv.org/abs/2203.08327" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> WACV</a>
                        </p>
                        <p style="text-align:justify"><sup>†‡</sup>J. Takeshita, <b>Z. Carmichael</b>, R. Karl, T. Jung, "<b>TERSE: Tiny Encryptions and Really Speedy Execution for Post-Quantum Private Stream Aggregation</b>," <i>Proceedings of the EAI International Conference on Security and Privacy in Communication Networks (SecureComm)</i>, Remote, 2022.
                            <br><a href="https://eprint.iacr.org/2022/829" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> SecureComm</a>
                        </p>
                        <p style="text-align:justify"><sup>†§</sup>N. Soures, D. Chambers, <b>Z. Carmichael</b>, A. Daram, D. P. Shah, K. Clark, L. Potter, D. Kudithipudi, "<b>SIRNet: Understanding Social Distancing Measures with Hybrid Neural Network Model for COVID-19 Infectious Spread</b>," <i>Proceedings of the International Joint Conference on Artificial Intelligence (IJCAI) Disease Computational Modeling Workshop</i>, Remote, 2020.
                            <br><a href="https://dcm-2020.github.io/" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> IJCAI</a>
                        </p>
                        <p style="text-align:justify"><sup>‡</sup>—, —, <i>Proceedings of the International Conference on Machine Learning (ICML) Machine Learning for Global Health Workshop</i>, Remote, 2020.
                            <br><a href="https://mlforglobalhealth.org/posters-and-spotlights/" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> Poster</a>
                        </p>
                        <p style="text-align:justify"><sup>†§</sup><b>Z. Carmichael</b>, H. F. Langroudi, C. Khazanov, J. Lillie, J. L. Gustafson, D. Kudithipudi, "<b>Deep Positron: A Deep Neural Network Using Posit Number System</b>," <i>Proceedings of the IEEE Conference and Exhibition on Design, Automation and Test in Europe (DATE)</i>, Florence, Italy, 2019 [<b>24% acceptance rate</b>].
                            <br><a href="https://arxiv.org/abs/1812.01762" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> arxiv.org/abs/1812.01762</a>
                        </p>
                        <p style="text-align:justify"><sup>†§</sup><b>Z. Carmichael</b>, D. Kudithipudi. "<b>Stochastic Tucker-Decomposed Recurrent Neural Networks for Forecasting.</b>" In <i>IEEE Global Conference on Signal and Information Processing (GlobalSIP 2019)</i>, Ottawa, Canada, 2019.
                            <br><a href="https://drive.google.com/file/d/1g85b7JMrxd35cehwo_4UonAhMzzRagA9/view" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> GlobalSIP</a>
                        </p>
                        <p style="text-align:justify"><sup>†§</sup><b>Z. Carmichael</b>, H. F. Langroudi, C. Khazanov, J. Lillie, J. L. Gustafson, D. Kudithipudi, "<b>Performance-Efficiency Trade-off of Low-Precision Numerical Formats in Deep Neural Networks</b>," <i>Proceedings of the ACM Conference for Next Generation Arithmetic (CoNGA)</i>, Singapore, 2019.
                            <br><a href="https://arxiv.org/abs/1903.10584" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> arxiv.org/abs/1903.10584</a>
                        </p>
                        <p style="text-align:justify"><sup>†§</sup><b>Z. Carmichael</b>, B. Glasstone, F. Cwitkowitz, K. Alexopoulos, R. Relyea, R. Ptucha, "<b>Autonomous Navigation Using Localization Priors, Sensor Fusion, and Terrain Classification</b>," <i>Proceedings of IS&T International Symposium on Electronic Imaging: Image Processing Algorithms and Systems</i>, San Francisco, CA, 2019.</p>
                        <p style="text-align:justify"><sup>†§</sup><b>Z. Carmichael</b>, H. Syed, D. Kudithipudi, "<b>Analysis of Wide and Deep Echo State Networks for Multiscale Spatiotemporal Time Series Forecasting</b>," <i>Proceedings of the ACM Neuro Inspired Computational Elements (NICE) Workshop</i>, Albany, NY, 2019.</p>
                        <p style="text-align:justify"><sup>‡</sup><b>Z. Carmichael</b>, H. Syed, S. Burtner, D. Kudithipudi, "<b>Mod-DeepESN: Modular Deep Echo State Network</b>," <i>Annual Conference on Cognitive Computational Neuroscience</i>, Philadelphia, PA, 2018.
                            <br><a href="https://arxiv.org/abs/1808.00523" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> arxiv.org/abs/1808.00523</a>
                        <p style="text-align:justify"><b>Z. Carmichael</b>. "<b>Towards Lightweight AI: Leveraging Stochasticity, Quantization, and Tensorization for Forecasting</b>." Master's Thesis, Department of Computer Engineering, Rochester Institute of Technology. 2019.
                        <br><a href="https://scholarworks.rit.edu/theses/10144/" target="_blank"><span class="fa fa-link" aria-hidden="true"></span> scholarworks.rit.edu</a>
                        <hr style="background-color: grey; border-color: grey; color: grey">
                        <p><sup>†</sup> Proceedings Paper | <sup>§</sup> Oral Presentation | <sup>‡</sup> Poster Presentation</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="research" class="research-section">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card-header" id="research-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#research-collapse" aria-expanded="false" aria-controls="research-collapse">
                                <h2><b>Research</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Research Experience</b></h2>
                        <hr>
                    </div>
                    <div id="research-collapse" class="collapse" aria-labelledby="research-header" data-parent="#portfolio-accordion">
                        <h4>Research Intern — <a href="https://www.merl.com/" target="_blank">Mitsubishi Electric Research Laboratories</a>, Cambridge, MA</h4>
                        <h6></h6>
                        <h6><i>June 2022 - September 2022</i></h6>
                        <ul>
                            <li>Conducted original research on intrinsically human-interpretable AI under supervision of Dr. Mike Jones</li>
                        </ul>
                        <h4>Computer Vision Research Lab (CVRL) Graduate Research Assistant — <a href="https://cvrl.nd.edu/" target="_blank">Notre Dame</a>, Notre Dame, IN</h4>
                        <h6></h6>
                        <h6><i>August 2019 - Present</i></h6>
                        <ul>
                            <li>Studying the fidelity of post hoc explanation methods (XAI) for black box interpretation</li>
                            <li>Developing an open-source symbolic framework that enables researchers to study feature attribution, interaction effects, & "explanations" of arbitrarily complex expressions</li>
                            <li>Mitigating the effect of occlusion on object detection algorithms on resource-constrained devices</li>
                        </ul>
                        <h4>Nu.AI Laboratory Research Fellow — <a href="http://engineering.utsa.edu/new-employee-dhireesha-kudithipudi/" target="_blank">UTSA</a>, San Antonio, TX</h4>
                        <h6></h6>
                        <h6><i>August 2019 - Present</i></h6>
                        <h4>Nu.AI Laboratory Graduate Research Assistant — <a href="https://www.rit.edu/kgcoe/neuro/" target="_blank">RIT</a>, Rochester, NY</h4>
                        <h6></h6>
                        <h6><i>January 2018 - August 2019</i></h6>
                        <ul>
                            <li>Collaborated with epidemiologists & demographers in the modeling of COVID-19 infectious spread. Developed a live <a href="https://livid-about-covid19.nuai.utsa.edu/">online dashboard</a> for Texas state showcasing case data & forecasts
                            <li>Researched the accuracy-energy-latency trade-off of network compression via low-precision arithmetic & custom hardware architecture</li>
                            <li>Improved efficiency of neural networks for time series forecasting upwards of 95% in size & training speed using randomness & compression for resource-constrained devices</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="awards" class="awards-section">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card-header" id="awards-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#awards-collapse" aria-expanded="false" aria-controls="awards-collapse">
                                <h2><b>Fellowships & Awards</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Fellowships & Awards</b></h2>
                        <hr>
                    </div>
                    <div id="awards-collapse" class="collapse" aria-labelledby="awards-header" data-parent="#portfolio-accordion">

                        <h5>NSF Graduate Fellowships Research Program (GRFP) Honorable Mention</h5>
                        <h6><i>2020</i></h6>

                        <h5>RIT Outstanding M.S. Thesis Award</h5>
                        <h6><i>2020</i></h6>
                        <p><i>Thesis: "Towards Lightweight AI: Leveraging Stochasticity, Quantization, and Tensorization for Forecasting"</i></p>

                        <h5>UTSA Best Poster: Fundamental Research in AI (Ph.D.)</h5>
                        <h6><i>2019</i></h6>
                        <p><i>Poster: "Cheetah: Mixed Low-Precision Hardware & Software Co-Design Framework for DNNs on the Edge"</i></p>

                        <h5>University of Notre Dame Jack and Mary Ann Remick Fellowship in Engineering</h5>
                        <h6><i>2019 - Present</i></h6>

                        <h5>University of Notre Dame Kilgallon Family Graduate Fellowship</h5>
                        <h6><i>2019 - Present</i></h6>

                        <h5>RIT KGCOE Dean's List</h5>
                        <h6><i>2014 - 2019</i></h6>

                        <h5>RIT Presidential Scholarship</h5>
                        <h6><i>2014 - 2018</i></h6>

                        <h5>RIT BS/MS Tuition Award</h5>
                        <h6><i>2014 - 2018</i></h6>

                        <h5>RIT Excellence in Computing</h5>
                        <h6><i>2014</i></h6>
                    </div>
                </div>
            </div>
        </section>

        <section id="reviewing" class="reviewing-section">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card-header" id="reviewing-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#reviewing-collapse" aria-expanded="false" aria-controls="reviewing-collapse">
                                <h2><b>Service</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Service</b></h2>
                        <hr>
                    </div>
                    <div id="reviewing-collapse" class="collapse" aria-labelledby="reviewing-header" data-parent="#portfolio-accordion">
                        <h5>Computer Vision Foundation (CVF)</h5>
                        <h5>IEEE Access</h5>
                        <h5>IEEE Transactions on Computers</h5>
                        <h5>Czech Science Foundation</h5>
                        <h5>IEEE Transactions on Neural Networks and Learning Systems</h5>
                        <h5>Neural Information Processing Systems (NeurIPS) Workshop on Compact Deep Neural Networks</h5>
                    </div>
                </div>
            </div>
        </section>

        <section id="membership" class="membership-section">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card-header" id="membership-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#membership-collapse" aria-expanded="false" aria-controls="membership-collapse">
                                <h2><b>Membership</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Membership</b></h2>
                        <hr>
                    </div>
                    <div id="membership-collapse" class="collapse" aria-labelledby="membership-header" data-parent="#portfolio-accordion">
                        <h5>Institute of Electrical and Electronics Engineers (IEEE) Student Member</h5>
                        <h6><i>Oct 2018 - Present</i></h6>
                        <h5>Tau Beta Pi - The Engineering Honor Society</h5>
                        <h6><i>Oct 2018 - Present</i></h6>
                        <h5>The National Society of Leadership and Success</h5>
                        <h6><i>Oct 2018 - Present</i></h6>
                        <h5>Sigma Xi Nomination</h5>
                        <h6><i>Jun 2020</i></h6>
                    </div>
                </div>
            </div>
        </section>

        <section id="skills" class="skills-section">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card-header" id="skills-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#skills-collapse" aria-expanded="false" aria-controls="skills-collapse">
                                <h2><b>Skills</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Skills</b></h2>
                        <hr>
                    </div>
                    <div id="skills-collapse" class="collapse" aria-labelledby="skills-header" data-parent="#portfolio-accordion">
                        <h4>Languages</h4>
                        <ul class="row">
                            <li class="col-md-4 vsplit-list">Python</li>
                            <li class="col-md-4 vsplit-list">C++</li>
                            <li class="col-md-4 vsplit-list">C</li>
                            <li class="col-md-4 vsplit-list">Java</li>
                            <li class="col-md-4 vsplit-list">LaTeX</li>
                            <li class="col-md-4 vsplit-list">HTML/CSS</li>
                            <li class="col-md-4 vsplit-list">Shell/Bash</li>
                            <li class="col-md-4 vsplit-list">JavaScript</li>
                            <li class="col-md-4 vsplit-list">TCL</li>
                            <li class="col-md-4 vsplit-list">System Verilog/Verilog</li>
                            <li class="col-md-4 vsplit-list">VHDL</li>
                            <li class="col-md-4 vsplit-list">ARM Assembly</li>
                            <li class="col-md-4 vsplit-list">Rust</li>
                        </ul>
                        <h4>Software and Libraries</h4>
                        <ul class="row">
                            <li class="col-md-4 vsplit-list">TensorFlow</li>
                            <li class="col-md-4 vsplit-list">Scikit-Learn</li>
                            <li class="col-md-4 vsplit-list">PyTorch</li>
                            <li class="col-md-4 vsplit-list">Git</li>
                            <li class="col-md-4 vsplit-list">NumPy/SciPy</li>
                            <li class="col-md-4 vsplit-list">SVN</li>
                            <li class="col-md-4 vsplit-list">Docker</li>
                            <li class="col-md-4 vsplit-list">Singularity</li>
                            <li class="col-md-4 vsplit-list">Matplotlib/Seaborn</li>
                            <li class="col-md-4 vsplit-list">MATLAB/Octave</li>
                            <li class="col-md-4 vsplit-list">Django</li>
                            <li class="col-md-4 vsplit-list">Apache HTTPD</li>
                            <li class="col-md-4 vsplit-list">SQL</li>
                            <li class="col-md-4 vsplit-list">Xilinx ISE/Vivado</li>
                            <li class="col-md-4 vsplit-list">ROS</li>
                            <li class="col-md-4 vsplit-list">ModelSim</li>
                            <li class="col-md-4 vsplit-list">Keil μVision</li>
                            <li class="col-md-4 vsplit-list">Microsoft Office</li>
                            <li class="col-md-4 vsplit-list">Eclipse</li>
                            <li class="col-md-4 vsplit-list">Atlassian Suite</li>
                        </ul>
                        <h4>Hardware</h4>
                        <ul class="row">
                            <li class="col-md-4 vsplit-list">Cortex M0+/M4 Architectures</li>
                            <li class="col-md-4 vsplit-list">NXP/Freescale KL46Z/KL64F</li>
                            <li class="col-md-4 vsplit-list">Arduino</li>
                            <li class="col-md-4 vsplit-list">Spartan6 FPGA</li>
                        </ul>
                        <h4>Operating Systems</h4>
                        <ul class="row">
                            <li class="col-md-4 vsplit-list">Arch Linux</li>
                            <li class="col-md-4 vsplit-list">Debian/Ubuntu & variants</li>
                            <li class="col-md-4 vsplit-list">CentOS/RedHat</li>
                            <li class="col-md-4 vsplit-list">NixOS</li>
                            <li class="col-md-4 vsplit-list">Amazon Linux AMI</li>
                            <li class="col-md-4 vsplit-list">Windows</li>
                        </ul>
                        <h4>Other</h4>
                        <ul class="row">
                            <li class="col-md-4 vsplit-list">System administration</li>
                            <li class="col-md-4 vsplit-list">Project management</li>
                            <li class="col-md-4 vsplit-list">Web development</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="work" class="work-section">
            <div class="row">
                <div class="col-lg-9 justified">
                     <div class="card-header" id="work-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#work-collapse" aria-expanded="false" aria-controls="work-collapse">
                                <h2><b>Other Experience</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Other Experience</b></h2>
                        <hr>
                    </div>
                    <div id="work-collapse" class="collapse" aria-labelledby="work-header" data-parent="#portfolio-accordion">

                        <h4>Web Manager — <a
                                href="https://www.thecvf.com/" target="_blank">Computer Vision Foundation (CVF)</a></h4>
                        <h6></h6>
                        <h6><i>September 2019 - Present</i></h6>
                        <ul>
                            <li>Rewrote, audited, & actively maintain <a href="https://openaccess.thecvf.com/menu">CVF Open Access</a> to better serve papers, talks, posters, & other open content from the CVPR, ICCV, ECCV, WACV, & ACCV conferences to <i>500,000+</i> monthly visitors</li>
                            <li>Automated synchronization of <a href="https://cove.thecvf.com/">CVF COVE</a> computer vision datasets & arXiv erratum retrieval with Open Access</li>
                            <li>Discovered & mitigated several SQL security vulnerabilities</li>
                        </ul>
                        <h6>Languages</h6>
                        <ul>
                            <li>Python</li>
                            <li>SQL</li>
                            <li>Bash</li>
                        </ul>
                        <h6>Software</h6>
                        <ul>
                            <li>Apache HTTPD</li>
                            <li>Pandas</li>
                            <li>Web scraping tools</li>
                        </ul>

                        <h4>Graduate Teaching Assistant — University of Notre Dame; Rochester Institute of Technology</h4>
                        <h6></h6>
                        <h6><i>2018 - 2020</i></h6>
                        <ul>
                            <li>Notre Dame CSE-60625/40625 <i>Advanced Topics in Machine Learning</i> Teaching Assistant (>20 students)</li>
                            <li>Notre Dame CSE-30151 <i>Theory Of Computing</i> Teaching Assistant (>30 students)</li>
                            <li>RIT CMPE-380 <i>Applied Programming</i> Grader (>30 students)</li>
                            <li>RIT CMPE-250 <i>Assembly Language</i> Grader (>30 students)</li>
                        </ul>

                        <h4>Digital Engineering Intern — <a
                                href="https://www.plexus.com" target="_blank">Plexus Corp.</a>, Raleigh, NC</h4>
                        <h6></h6>
                        <h6><i>June 2017 - August 2017</i></h6>
                        <ul>
                            <li>Carried out RTL design of FPGA-agnostic module for evaluation of FPGA cooling systems, validated all test cases with digital engineering team</li>
                            <li>Developed embedded software for a battery testing unit using the FRDM-K64F dev board, validated design & integration with mechanical, electrical, & software teams</li>
                        </ul>
                        <h6>Languages</h6>
                        <ul>
                            <li>C/C++</li>
                            <li>System Verilog</li>
                            <li>Powershell</li>
                        </ul>
                        <h6>Hardware</h6>
                        <ul>
                            <li>NXP/Freedom K64F</li>
                            <li>Xilinx Spartan FPGA</li>
                        </ul>

                        <h4>Software Engineering/Research Intern — <a
                                href="http://www.cubrc.org/" target="_blank">CUBRC, Inc.</a>, Cheektowaga, NY</h4>
                        <h6></h6>
                        <h6><i>June 2016 - December 2016</i></h6>
                        <ul>
                            <li>Developed a machine learning framework to model surgery risk, patient mortality, & other analytics using TensorFlow & scikit-learn with automatic model search & hyperparameter optimization</li>
                            <li>Worked with customers in the design of electronic health record-unifying database & interface</li>
                        </ul>
                        <h6>Languages</h6>
                        <ul>
                            <li>Python {2, 3}</li>
                            <li>Shell/Bash</li>
                            <li>SPARQL and RDF</li>
                        </ul>
                        <h6>Software and Libraries</h6>
                        <ul>
                            <li>TensorFlow</li>
                            <li>Scikit-Learn</li>
                            <li>Flask</li>
                            <li>NumPy</li>
                            <li>Kafka</li>
                            <li>Atlassian Suite {JIRA, Confluence, HipChat, BitBucket}</li>
                        </ul>

                        <h4>Senior SD Representative and RA Publisher —
                            <a href="https://www.rit.edu/its/" target="_blank">ITS Service Desk (RIT)</a>,
                            Rochester, NY</h4>
                        <h6><i>Fall 2014 - Spring 2016</i></h6>
                        <ul>
                            <li>Trained new representatives in customer interaction, internal procedures, and general troubleshooting methods</li>
                            <li>Worked with RIT staff, faculty, and students to resolve hardware and software problems, manage RIT computer accounts, and provide information on technology services</li>
                        </ul>
                        <h6>Software</h6>
                        <ul>
                            <li>Footprints</li>
                            <li>Microsoft Office</li>
                            <li>RightAnswers</li>
                            <li>Atlassian Confluence</li>
                        </ul>

                        <h4>Founding Partner — CPUtiful Tech, Killingworth, CT</h4>
                        <h6><i>Summer 2015 - Spring 2016</i></h6>
                        <p>CPUtiful Tech was a company comprising four partners with the mutual interest of
                            creating a consumer electronics retail company with a business platform based on personable
                            interactions. The company was dissolved in 2016.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="activities" class="activities-section">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card-header" id="activities-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#activities-collapse" aria-expanded="false" aria-controls="activities-collapse">
                                <h2><b>Activities</b></h2>
                            </button>
                        </h5>
                    </div>
                    <div class="desktop-header">
                        <h2><b>Activities</b></h2>
                        <hr>
                    </div>
                    <div id="activities-collapse" class="collapse" aria-labelledby="activities-header" data-parent="#portfolio-accordion">
                        <h5>RIT Tennis Club Treasurer</h5>
                        <h6><i>2014 - 2017</i></h6>

                        <h5>RIT Intramural Co-Ed Volleyball Captain</h5>
                        <h6><i>2014 - 2017</i></h6>

                        <h5>RIT Intramural Co-Ed Flag Football Captain</h5>
                        <h6><i>2015 - 2016</i></h6>

                        <h5>RIT KanJam Executive Board Member</h5>
                        <h6><i>2014 - 2016</i></h6>

                        <h5>Drumming (Kit)</h5>

                        <h5>Tennis</h5>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Sidebar -->
    <div class="col-md-3">
        <nav class="sidebar-fixed position-fixed">
            <ul id="sidebar" class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#publications">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#research">Research Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#awards">Fellowships & Awards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#reviewing">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#membership">Membership</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#work">Other Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#activities">Activities</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Scrolling Nav JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/scrolling-nav.js' %}"></script>
{% endblock %}
