{% extends "portfolio/common/base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-md-10">
            <h1><b>Projects</b></h1>
            <p>Below are the projects I've worked on for my enjoyment and augmentation of my skill set. Click on a
            header to view more details of a project.</p>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b><a href="https://arxiv.org/abs/1808.00523" target="_blank">Mod-DeepESN: Modular Deep Echo State Network</a></b></h3>
                    <p>In this work, we explore the impact of topology and connectivity of deep echo state
                networks (ESNs). Xavier initialization and intrinsic plasticity are utilized in the
                model initialization and training phases, respectively, and a genetic algorithm is
                used to tune model hyperparameters. We propose the Mod-DeepESN architecture and show
                that it either performs on par or outperforms baseline ESN models on multi-scale time
                series tasks. The paper was accepted to the
                <a href="https://ccneuro.org/" target="_blank">
                    2018 Cognitive Computational Neuroscience Conference</a>.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b><a href="https://github.com/craymichael/CNN_LCD" target="_blank">CNNs for Loop-Closure Detection</a></b></h3>
                    <p>This is my Deep Learning project in which I apply convolutional neural networks (CNNs) to
                        the detection of loop-closures in simultaneous localization and mapping (SLAM) systems.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b><a href="https://github.com/craymichael/scitoolkit" target="_blank">scitoolkit</a></b></h3>
                    <p>An open-source collection of helpful scientific functionalities written in Python. This library is under active development.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b><a href="http://edge.rit.edu/edge/Resources/public/CurrentProjects" target="_blank">RIT Autonomous People Mover ("Tiger Taxi")</a></b></h3>
                    <p>This is the senior design project I am currently working on. We intend on employing a
                    visual SLAM system on the current golf cart configuration that adds additional sensory input
                    as constraints to localization and global map optimization.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <!--<h3><b><a href="{% url 'portfolio:portfolio-site' %}">Portfolio Website</a></b></h3>-->
                    <h3><b><a href="https://github.com/craymichael/PortfolioSite" target="_blank">Portfolio Website</a></b></h3>
                    <p>An open-source personal website (<code>this.site</code>) using the Django Web Framework to
                    showcase my portfolio.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <!--<h3><b><a href="{% url 'portfolio:st-hubert' %}">St. Hubert's Isle Historical Website</a></b></h3>-->
                    <h3><b><a href="http://www.sthubertsisle.com/" target="_blank">St. Hubert's Isle Historical Website</a></b></h3>
                    <p>A WordPress-based website created for the island in Raquette Lake, NY, St. Hubert's Isle. The
                    site provides visitors with rich history and information of the area.</p>
                    <!--<span class="glyphicon glyphicon-link" aria-hidden="true"></span><a-->
                    <!--href="http://www.sthubertsisle.com/" target="_blank"> View the site</a>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}