{% extends "portfolio/common/base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-md-10 justified">
            <h1><b>Projects</b></h1>
            <p>Below are the projects I've worked on for my enjoyment and augmentation of my skill set. Click on a
            header to view more details of a project.</p>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b><a href="http://edge.rit.edu/edge/C18501/public/Home" target="_blank">RIT Autonomous People Mover ("Tiger Taxi")</a></b></h3>
                    <p>Worked on a team responsible for bringing autonomy to an RIT golf cart. We integrated SLAM, multi-modal sensors, aerial map priors, and a convolutional neural network through the ROS software framework. We held weekly scrum meetings with tasks and issues managed through Jira, and documentation organized within Confluence. Meetings with our customer helped in validating design choices and kept us on track for project deadlines.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b><a href="https://github.com/craymichael/CNN_LCD" target="_blank">CNNs for Loop-Closure Detection</a></b></h3>
                    <p>Applied a variety of convolutional neural networks (CNNs) to the detection of loop-closures for visual simultaneous localization and mapping (vSLAM) algorithms. The method computes the Euclidean similarity of extracted feature vectors from a CNN after principal component analysis. The performance of the method using several CNNs on Oxford vSLAM datasets was evaluated by average precision.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b>Segmentation of Histopathological Images Using U-Net</b></h3>
                    <p>Applied the U-Net architecture to the segmentation of nuclei from a small corpus of samples. Data augmentation, morphological post-processing, and a watershed algorithm were applied to improve the quality of U-Net's predictions. The method was evaluated in the 2018 Data Science Bowl competition, achieving a performance in the 60<sup>th</sup> percentile.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b>Variable-Length Phoneme Classification Using Deep ESNs</b></h3>
                    <p>Developed a novel deep echo state network (ESN) topology that allows for variable connectivity. A brain-inspired intrinsic plasticity mechanism improves performance by ensuring neuronal activations adhere to a known distribution. The model was evaluated on the TIMIT phoneme classification dataset, which was preprocessed as Mel-frequency Cepstral coefficients.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b><a href="https://github.com/craymichael/PortfolioSite" target="_blank">Portfolio Website</a></b></h3>
                    <p>An open-source personal website (<code>this.site</code>) using the Django Web Framework to
                    showcase my portfolio.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h3><b><a href="http://www.sthubertsisle.com/" target="_blank">St. Hubert's Isle Historical Website</a></b></h3>
                    <p>A WordPress-based website created for the island in Raquette Lake, NY, St. Hubert's Isle. The
                    site provides visitors with rich history and information of the area.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}