{% load static %}
<nav class="navbar nav-pills navbar-dark navbar-expand-lg fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'portfolio:index' %}">
                <img src="{% static 'img/ZC_32x32_white.png' %}">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav">
                <li
                class="nav-link{% if active == 'index' %} active{% endif %}">
                <a href="{% url 'portfolio:index' %}">Home</a>
                </li>
                <li
                class="nav-link{% if active == 'portfolio' %} active{% endif %}">
                <a href="{% url 'portfolio:portfolio' %}">Portfolio</a>
                </li>
                <li
                class="nav-link{% if active == 'projects' %} active{% endif %}">
                <a href="{% url 'portfolio:projects' %}">Projects</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li
                class="nav-link{% if active == 'contact' %} active{% endif %}">
                <a href="{% url 'portfolio:contact' %}">Contact</a>
                </li>
                <li class="nav-link">
                    <a href="https://www.linkedin.com/in/zachariah-carmichael-9b9848b2" target="_blank">
                        <img src="{% static 'img/linkedin.png' %}"></a>
                </li>
<!--                <li class="nav-link">-->
<!--                    <a href="http://meritpages.com/Zachariah-Carmichael/" target="_blank">-->
<!--                        <img src="{% static 'img/meritpages.png' %}"></a>-->
<!--                </li>-->
                <li class="nav-link">
                    <a href="https://github.com/craymichael" target="_blank">
                        <img src="{% static 'img/GitHub-Mark-Light-32px.png' %}">
                    </a>
                </li>
                <li class="nav-link">
                    <a href="https://stackoverflow.com/users/6557588/craymichael" target="_blank">
                        <img src="{% static 'img/so_favicon.ico' %}">
                    </a>
                </li>
                <li class="nav-link">
                    <a href="https://scholar.google.com/citations?user=1Nq_tGYAAAAJ" target="_blank">
                        <img src="{% static 'img/google-scholar-favicon.ico' %}">
                    </a>
                </li>
                <li class="nav-link">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="darkSwitch"/>
                        <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                    </div>
                    <script src="{% static 'js/dark-mode-switch.min.js' %}"></script>
                </li>
            </ul>
        </div>
    </div>
</nav>