.base-container {
    padding-top: 50px;
}
.github-fork-ribbon.right-top:before {
    background-color: #3A37D8;
}
.github-fork-ribbon.right-top {
    position: fixed;
}
.navbar-brand {
    line-height: 32px; /* Image height */
    /* padding = ceil((51 - image height) / 2) */
    padding-bottom: 10px;
    padding-top: 10px;
}