.sidebar-fixed {
    padding-top: 120px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 {
    font-size: 17px;
}
.vsplit-list {
    padding-left: 0px;
}
.nav li > a:hover,
.nav li > a:focus {
    background-color: #fff;
}
li.active > a, 
li.active > a:hover, 
li.active > a:focus {
    background-color: #3A37D8;
    color: #fff
}
.education-section {
    padding-top: 40px;
    text-align: left;
    background: #fff;
}
.skills-section {
    padding-top: 40px;
    text-align: left;
    background: #fff;
}
.work-section {
    padding-top: 40px;
    text-align: left;
    background: #fff;
}
.activities-section {
    padding-top: 40px;
    text-align: left;
    background: #fff;
}